.MainBox {
    height: 100%;
    position: relative;
}

.Container {
    position: relative;
    min-height: 84%;
    max-height: 84%;
}

.NavBar {
    display: flex;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;
}

.Buttons {
    display: flex;
}

.Table {
    min-width: 750px;
}

.Error {
    width: 100%;
    min-height: 200px;
    background-color: #d32f2f;
    font-weight: bold;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal {
    display: flex;
}

.Box {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    padding: 34px;
    border-radius: 4px;
    box-shadow: 1px 1px 20px black;
    background-color: white;
    transform: translate(-50%, -50%);
}