.Modal {
    display: flex;
}

.Box {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Error {
    color: #d32f2f;
    margin: 0;
    width: 250px;
}

.ToLoginButton:hover {
    cursor: pointer;
    color: #1976d2;
}


