.Header {
    background-color: #1976d2;
    color: white;

    padding: 10px 50px 10px 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: orange;
}

.Buttons {
    width: 150px;

    display: flex;
    justify-content: flex-end;
}
